

<h3 class="first">Serviços contratados</h3>
<p-table [value]="lstServiceContratados">
    <ng-template pTemplate="header">
        <tr>
            <th>Tempo início</th>
            <th>Tempo fim</th>
            <th>Dia da semana</th>
            <th>Dia</th>
            <th>Serviço</th>
            <th>Contratante</th>
            <th>Clique para Cancelar o serviço</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-varServiceContratados>
        <tr>
            <td>{{varServiceContratados.tempoInicio}}</td>
            <td>{{varServiceContratados.tempoFim}}</td>
            <td>{{varServiceContratados.siglaDia}}</td>
            <td>{{varServiceContratados.dataCalendarioCorrecao}}</td>
            <td>{{varServiceContratados.tipoService}}</td>
            <td>{{varServiceContratados.nomeProvider}}</td>
            <td><p-toggleButton [(ngModel)]="varServiceContratados.cancelado"
              onLabel="Cancelado" offLabel="X" onIcon="pi; pi-check" offIcon="pi pi-times"
              [style]="{'width':'150px'}"></p-toggleButton></td>
            </tr>
          </ng-template>
        </p-table>

        <button (click)="gravarStatusCanecelado(lstServiceContratados)" label="Cancelar">Cancelar</button>

