<!-- <h3 class="first">Serviços contratados</h3>
<p-table #tt [value]="lstServiceContratados" [paginator] = "true" [rows] = "7" [globalFilterFields]="['tempoInicio','tempoFim','siglaDia','nomeProvider','dataCalendarioCorrecao','tipoService']">
 <ng-template pTemplate="caption">
        <div style="text-align: center" class="ng-star-inserted">        
        <i class="fas fa-search-plus"></i>
            <input type="text" pInputText size="50" placeholder="Global Filter" (input)="tt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th>Tempo início</th>
            <th>Tempo fim</th>
            <th>Dia da semana</th>
            <th>Dia</th>
            <th>Serviço</th>
            <th>Contratante</th>
            <th>Escreva motivo do cancelamento</th>
            <th>Clique para Cancelar o serviço</th>
           
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-varServiceContratados>
        <tr>
            <td>{{varServiceContratados.tempoInicio}}</td>
            <td>{{varServiceContratados.tempoFim}}</td>
            <td>{{varServiceContratados.siglaDia}}</td>
            <td>{{varServiceContratados.dataCalendarioCorrecao}}</td>
            <td>{{varServiceContratados.tipoService}}</td>
            <td>{{varServiceContratados.nomeProvider}}</td>

            <td><textarea [(ngModel)]="varServiceContratados.motivoCancelamento"
              offLabel="X" onIcon="pi; pi-check" offIcon="pi pi-times"
             [style]="{'width':'150px'}"></textarea></td>

            <td><p-toggleButton [(ngModel)]="varServiceContratados.cancelado"
              onLabel="Cancelado" offLabel="X" onIcon="pi; pi-check" offIcon="pi pi-times"
              [style]="{'width':'150px'}"></p-toggleButton></td>
            </tr>
          </ng-template>
        </p-table>

        <button (click)="gravarStatusCanecelado(lstServiceContratados)" label="Cancelar">Cancelar</button> -->

<h4 class="text-center pt-5">Minha Agenda</h4>
<mat-tab-group (selectedTabChange)="tabChanged($event)" class="m-5" style="overflow: hidden">
  <mat-tab *ngFor="let tab of datas">
    <ng-template mat-tab-label>{{tab}}</ng-template>
    <div class="row my-3 atendimento-row">
      <div class="col-4 py-3" *ngFor="let card of listaPorTab">
        <div class="card atendimento-card">
          <div class="card-body">
            <h5 class="card-title">{{card.tipoService}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Atendimento: das {{card.tempoInicio}} às {{card.tempoFim}}</h6>
            <p class="card-text">Nome do Pet: {{card.nomePet}}</p>
            <a href="#" class="card-link" data-toggle="modal" data-target="#modalCancelar" (click)="enviarIdAgendamento(card.id)">Cancelar Agendamento</a>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>

<!-- Modal CANCELAR -->
<div class="modal fade" id="modalCancelar" tabindex="-1" role="dialog" aria-labelledby="modalCancelar"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Motivo do Cancelamento:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <textarea cols="40" rows="5" offLabel="X" onIcon="pi; pi-check" offIcon="pi pi-times"
          [style]="{'width':'150px'}"></textarea>
      </div>
      <div class="modal-footer">
        <button mat-flat-button color="primary" type="button" data-dismiss="modal">Fechar</button>
        <button mat-flat-button color="primary" type="button" (click)="gravarStatusCancelado()">Cancelar
          Agendamento</button>
      </div>
    </div>
  </div>
</div>