<div class="pet-image-home">
<div class="pet-text-home">

    <h1 style="font-size:50px">Nossos Fornecedores</h1>
</div>
</div>
  <h3>Quais tipos de serviço você encontra para o seu Pet? Dá uma conferida aqui!</h3>

  <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">PetWalker</h5>
            <p class="card-text">PetWalker está a disposição para levar seu pet para um passeio! Ele cuida do seu pet no momento que você mais precisa!</p>
            <a href="#" class="btn btn-primary">Pesquisar</a>
            <a href="/pessoa/fisica/cadastrar" class="btn btn-primary">Quer ser um PetWalker?</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">PetHome</h5>
            <p class="card-text">Vai viajar sem seu pet? Temos muitos PetHomes disponíveis para que seu pet tenha a melhor estadia possível, só não é melhor que a sua própria casa, mas daí nem tem como competir!</p>
            <a href="#" class="btn btn-primary">Pesquisar</a>
            <a href="/pessoa/juridica/cadastrar" class="btn btn-primary">Quer ser um PetHome?</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">PetVet</h5>
              <p class="card-text">Seu pet precisa de uma consulta veterinária? Precisa de uma vacina! Temos as melhores clínicas para que seu pet venha ser tratado com a melhor qualidade!</p>
              <a href="#" class="btn btn-primary">Pesquisar</a>
              <a href="/pessoa/juridica/cadastrar" class="btn btn-primary">Quer ser um PetVet?</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">PetShop</h5>
              <p class="card-text">O PetShop cuida da beleza e bem-estar do seu pet! Existem muitos PetShops que possuem farmácia, banho, tosa, produtos destinados aos pets e muito mais! Confira o mais perto de você!</p>
              <a href="#" class="btn btn-primary">Pesquisar</a>
              <a href="/pessoa/juridica/cadastrar" class="btn btn-primary">Quer ser um Petshop?</a>
            </div>
          </div>
        </div>
      </div>