<div class="container marketing">

    <!-- Três colunas de texto, abaixo do carousel -->
    <div class="row">

      <div class="col-lg-4">
        <img class="rounded-circle" src="../../../assets/cliente.jpeg" alt="Generic placeholder image" width="140" height="140">
        <h2>Cliente MyPet</h2>
        <p>Aqui, você encontra os melhores serviços para o seu pet! Só se cadastrar e começar a contratar!</p>
        <button mat-flat-button color="primary" type="button" (click)="cadastroCliente()">Cadastre-se</button>
      </div>

      <div class="col-lg-4">
        <img class="rounded-circle" src="../../../assets/fornecedor.jpeg" alt="Generic placeholder image" width="140" height="140">
        <h2>Fornecedor MyPet</h2>
        <p>Seja um dos fornecedores da melhor plataforma de agendamento de serviços! Cadastre-se e anuncie seus serviços!</p>
        <button mat-flat-button color="primary" type="button" (click)="cadastroFornecedor()">Cadastre-se</button>
      </div>

      <div class="col-lg-4">
        <img class="rounded-circle" src="../../../assets/evento.jpeg" alt="Generic placeholder image" width="140" height="140">
        <h2>Mypet Login</h2>
        <p>Já está cadastrado? É só logar então!</p>
        <button mat-flat-button color="primary" type="button" (click)="login()">Login</button>
      </div> 

       <!-- <div class="col-lg-4">
        <img class="rounded-circle" src="../../../assets/evento.jpeg" alt="Generic placeholder image" width="140" height="140">
        <h2>Eventos</h2>
        <p>Pesquise aquilo que mais combina com você e seu pet! Te esperamos para agitar os melhores eventos da sua região.</p>
        <button mat-flat-button color="primary" type="button" (click)="pesquisarEvento()">Pesquisar</button>
      </div>  -->

    </div>