<div class="container marketing">

    <!-- Três colunas de texto, abaixo do carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h2>Cliente MyPet</h2>
        <p>Aqui, você encontra os melhores serviços para o seu pet! Só se cadastrar e começar a contratar!</p>
        <button mat-flat-button color="primary" type="button" (click)="cadastroCliente()">Cadastre-se</button>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h2>Fornecedor MyPet</h2>
        <p>Seja um dos fornecedores da melhor plataforma de agendamento de serviços! Cadastre-se e anuncie seus serviços!</p>
        <button mat-flat-button color="primary" type="button" (click)="cadastroFornecedor()">Cadastre-se</button>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h2>Eventos</h2>
        <p>Pesquise aquilo que mais combina com você e seu pet! Te esperamos para agitar os melhores eventos da sua região.</p>
        <button mat-flat-button color="primary" type="button" (click)="pesquisarEvento()">Pesquisar</button>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->