<div class="color-default" >
<h3>Escolha seu perfil</h3>
<p-accordion>
    <p-accordionTab header="Pessoa física">
       Opção direcionada para pessoas que executam a tarefa de petclient
       <br/>
       <a href="/logingeral/escolhaperfil">Escolha este !</a>
    </p-accordionTab>
    <p-accordionTab header="Pessoa jurídica">
        Opção direcionada para pessoas que executam as tarefas de petvet e petshop
        <br/>
        <a href="/logingeral/escolhaperfil">Escolha este !</a>
    </p-accordionTab>
    <p-accordionTab header="Pessoa física/jurídica">
        Opção direcionada para pessoas que executam as tarefas de petwalker e pethome
        <br/>
        <a href="/logingeral/escolhaperfil">Escolha este !</a>
    </p-accordionTab>
</p-accordion>

</div>
