<div class="card" >
<div class="card-body">
<h5 class="card-title">Conheço e escolha seu perfil</h5>
</div>
</div>

<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <p class="font-color-default">Petclient</p>
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        Petclient é o cliente da nossa plataforma, ele irá usufruir dos serviços. Oferecemos contratação
        de serviços para andar com cachorros, busca produtos de petshops, divulgação de evento, hospadagens
        para os pets e ainda contato com clínicas veterinárias.
        Nesta modalidade é exclusivo cadastro de pessoa física.
        <br/>
        <br/>
        <button type="button" class="btn btn-default btn-sm " ><a class ="a-color-btn-default"
        href="petclients/cadastrar" >Cadastrar</a></button>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <p class="font-color-default">PetHome</p>
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        PetHome são prestadores de serviço para hospedagem para os animalzinhos.
        Esse tipo de atividade pode ser feita por pessoas que façam esse serviço como
        um bico, portanto pessoa física, ou ainda faça em nome de alguma associação, sendo assim
        pessoa jurídica.
        Nesta modalidade são aceitos os dois tipos de perfis.
        <br/>
        <br/>
        <button type="button" class="btn btn-default btn-sm " ><a class ="a-color-btn-default"
        href="pethome/cadastrar" >Cadastrar</a></button>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <p class="font-color-default">PetVet</p>
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        PetVet são exclusivos para clínicas veterinárias.
        Teremos clínicas veterinárias e rede de clínica veterinária.
        Nesta modalidade é exclusivo o cadastro de pessoa jurídica.
        <br/>
        <br/>
        <button type="button" class="btn btn-default btn-sm " ><a class ="a-color-btn-default"
        href="petvet/cadastrar" >Cadastrar</a></button>
      </div>
    </div>
  </div>

<div class="card">
    <div class="card-header" id="headingFor">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          <p class="font-color-default">PetWalker</p>
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
        PetWalker são pessoas ou estabelecimentos que executem o serviço de andar com cachorro ou gatos.
        Nesta modalidade é para cadastro de pessoa jurídica ou física.
        <br/>
        <br/>
        <button type="button" class="btn btn-default btn-sm " ><a class ="a-color-btn-default"
        href="petwalker/cadastrar" >Cadastrar</a></button>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFive">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          <p class="font-color-default">PetShop</p>
        </button>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
      <div class="card-body">
        PetShop são exclusivos para os estabelecimentos que vendem produtos de pet.
        O cadastro pode ser de redes de lojas e lojas individuais.
        Nesta modalidade é exclusivo o cadastro de pessoa jurídica.
        <br/>
        <br/>
        <button type="button" class="btn btn-default btn-sm " ><a class ="a-color-btn-default"
        href="petshop/cadastrar" >Cadastrar</a></button>
      </div>
    </div>
  </div>

</div>

