<p class="text-center text-muted" *ngIf="!pessoas.length">
    Não foi possível achar essa cidade.
</p>
<p-table [value]="pessoas">
    <ng-template pTemplate="body" ngFor let-pessoa >
        <div class="card">
            <h5 class="card-header">{{pessoa.razaoSocial}}</h5>
            <div class="card-body">
                <label class="card-text">Cidade: {{pessoa.cidade}}</label><br/>
                <label class="card-text">Bairro: {{pessoa.bairro}} </label><br/>
                <label class="card-text">Estado: {{pessoa.estado}} </label><br/>
                <label class="card-text">Descrição: {{pessoa.descricaoPetShop}}</label><br/>
            <!--a href="/home/detalhes/1" class="btn btn-primary">Detalhes</a -->
            <button type="button" (click)="pesquisarDetalhes(pessoa)" label="Detalhes" class="btn btn-outline-light"
                            style="background-color: #f7b733">Detalhes
                            </button>
            </div>
        </div>
    </ng-template>
</p-table>

<div class="footer">
    <a href="/admin/login">Admin Login</a>
</div>
