
<h3 class="first">Histórico cliente</h3>
    <p-table #tt [value]="lstServiceContratados" [paginator] = "true" [rows] = "7" [globalFilterFields]="['tempoInicio','tempoFim','siglaDia','nomeProvider','dataCalendarioCorrecao','tipoService','motivoCancelamento']">
        <ng-template pTemplate="caption">
               <div style="text-align: center" class="ng-star-inserted">
               <i class="fas fa-search-plus"></i>
                   <input type="text" pInputText size="50" placeholder="Global Filter" (input)="tt.filterGlobal($event.target.value, 'contains')" style="width:auto">
               </div>
           </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Tempo início</th>
            <th>Tempo fim</th>
            <th>Dia da semana</th>
            <th>Dia</th>
            <th>Serviço</th>
            <th>Contratante</th>
            <th>Avaliar Serviço</th>
            <th>Motivo do cancelamento</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-varServiceContratados>
        <tr>
            <td>{{varServiceContratados.tempoInicio}}</td>
            <td>{{varServiceContratados.tempoFim}}</td>
            <td>{{varServiceContratados.siglaDia}}</td>
            <td>{{varServiceContratados.dataCalendarioCorrecao}}</td>
            <td>{{varServiceContratados.tipoService}}</td>
            <td>{{varServiceContratados.nomeProvider}}</td>
            <td><button mat-flat-button color="primary" *ngIf="varServiceContratados.cancelado === false" data-toggle="modal" data-target="#modalAvaliacao" (click)="setModalValue(varServiceContratados)" type="button">Avaliar</button><td>
            <td>{{varServiceContratados.motivoCancelamento}}</td>
            </tr>
    </ng-template>
</p-table>

        <!-- <button (click)="salvarAvaliacao(lstServiceContratados)" label="Gravar">Gravar</button> -->

    <!-- Modal -->
    <div class="modal fade" id="modalAvaliacao" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Nos ajude avaliando o {{servicoContratadoAvaliado.nomeProvider}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <p-rating [(ngModel)]="servicoContratadoAvaliado.avaliacao" (onRate)="handleRate($event)" (onCancel)="handleCancel($event)">
                </p-rating> <!-- <span *ngIf="msg" style="margin-left:10px">{{msg}}</span> -->
                <textarea [(ngModel)]="servicoContratadoAvaliado.comentarioAvaliacao"></textarea>
            </div>
            <div class="modal-footer">
                <button mat-flat-button color="primary" type="button" (click)="salvarAvaliacaoIndividual(servicoContratadoAvaliado)">Salvar avaliação</button>
            </div>
        </div>
        </div>
    </div>

        <!--
            teste para melhorar motivo cancelamento


                      <td *ngIf="varServiceContratados.cancelado === true" >{{varServiceContratados.motivoCancelamento}}</td>
            <td *ngIf="varServiceContratados.cancelado === false">{{varServiceContratados.motivoCancelamento}} {{motivoDeCancelamentoQuandoFinalizado}}</td>
        -->
