
<h3 class="first">Histórico cliente</h3>
<p-table [value]="lstServiceContratados">
    <ng-template pTemplate="header">
        <tr>
            <th>Tempo início</th>
            <th>Tempo fim</th>
            <th>Dia da semana</th>
            <th>Dia</th>
            <th>Serviço</th>
            <th>Contratante</th>
            <th>Motivo do cancelamento</th>
            <th>Avaliação</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-varServiceContratados>
        <tr>
            <td>{{varServiceContratados.tempoInicio}}</td>
            <td>{{varServiceContratados.tempoFim}}</td>
            <td>{{varServiceContratados.siglaDia}}</td>
            <td>{{varServiceContratados.dataCalendarioCorrecao}}</td>
            <td>{{varServiceContratados.tipoService}}</td>
            <td>{{varServiceContratados.nomeProvider}}</td>
            <td>{{varServiceContratados.motivoCancelamento}}</td>
            <p-rating *ngIf="varServiceContratados.cancelado === false" [(ngModel)]="varServiceContratados.avaliacao" (onRate)="handleRate($event)" (onCancel)="handleCancel($event)">
            </p-rating> <span *ngIf="msg" style="margin-left:10px">{{msg}}</span>
            </tr>
          </ng-template>
        </p-table>

        <button (click)="salvarAvaliacao(lstServiceContratados)" label="Gravar">Gravar</button>
