
<div class="container">
    <h2 align="center"> Cadastrar PetProvider</h2>
    <div class="form-row align-items-center" >
        <div class="form-group col-md-3">
            <label for="razaoSocial">Razão Social: </label>
            <input type="text" class="form-control" [(ngModel)]="pessoaJuridica.razaoSocial" pInputText placeholder="Ex: Clínica pet feliz" required>
        </div>

        <div class="form-group col-md-2">
            <label for="cnpj">CNPJ:</label>
            <input type="text" class="form-control" [(ngModel)]="pessoaJuridica.cnpj" required="required" pInputText placeholder="CNPJ">

        </div>
        <div class="form-group col-md-2">
            <label for="email">E-mail:</label>
            <input type="email" class="form-control" [(ngModel)]="pessoaJuridica.email" pInputText placeholder=" E-mail">
        </div>

        <div class="form-group col-md-2">
            <label for="senha">Senha:</label>
            <input type="password" class="form-control" [(ngModel)]="pessoaJuridica.senha" required="required" pInputText placeholder=" Senha">
        </div>
    </div>
    <div class="form-row align-items-center">
        <div class="form-group col-md-2">
            <label for="telefone1">Telefone Fixo:</label>
            <input type="text" class="form-control" [(ngModel)]="pessoaJuridica.telefone1" pInputText placeholder=" Telefone Fixo">
        </div>
        <div class="form-group col-md-2">
            <label for="telefone2">Celular:</label>
            <input type="text" class="form-control" [(ngModel)]="pessoaJuridica.telefone2" required="required" pInputText placeholder=" Telefone Celular">
        </div>
    </div>

    <div class="form-row align-items-center">
        <div class="form-group col-md-4">
            <label for="logradouro">Endereço:</label>
            <input type="text" class="form-control" [(ngModel)]="pessoaJuridica.logradouro" required="required" pInputText placeholder=" Endereço">
        </div>

        <div class="form-group col-md-1">
            <label for="numero">Nº:</label>
            <input type="text" class="form-control" [(ngModel)]="pessoaJuridica.numero" required="required" pInputText placeholder=" Número">
        </div>

        <div class="form-group col-md-2">
            <label for="complemento">Complemento:</label>
            <input type="text" class="form-control" [(ngModel)]="pessoaJuridica.complemento" required="required" pInputText placeholder=" Complemento">
        </div>
        <div class="form-group col-md-2">
            <label for="bairro">Bairro:</label>
            <input type="text" class="form-control" [(ngModel)]="pessoaJuridica.bairro" required="required" pInputText placeholder=" Bairro">
        </div>
    </div>
    <div class="form-row align-items-center">
        <div class="form-group col-md-3">
            <label for="cidade">Cidade: </label>
            <input type="text" class="form-control" [(ngModel)]="pessoaJuridica.cidade" required="required" pInputText placeholder="Cidade">
        </div>

        <div class="form-group col-md-3">
            <label for="estado">Estado:</label>
            <input type="text" class="form-control" [(ngModel)]="pessoaJuridica.estado" required="required" pInputText placeholder="Estado">
        </div>

        <div class="form-group col-md-2">
            <label for="cep">CEP:</label>
            <input type="text" class="form-control" [(ngModel)]="pessoaJuridica.cep" r equired="required" pInputText placeholder=" CEP">
        </div>
    </div>
    <div class="form-group col-auto">
            <p>Foto perfil</p>
            <br/>
            <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" maxFileSize="1000000" (onUpload)="onBasicUpload($event)"></p-fileUpload>
            <br/>
            <br/>
    </div>
    <div class="form-check form-check-inline">
			<div class="container center_div">
				<div class="form-row align-items-center">
					<div class="form-group col-auto">
                    <div id="petShopFile">
                            <p>Coloque fotos do serviço</p>
                        <br/>
                        <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*"
                        maxFileSize="1000000" (onUpload)="onBasicUpload($event)"
                        id="petShopFile"></p-fileUpload>
                        <br/>
                        <br/>
                        <label for="descricaoPetShop">Descrição:</label>
                            <textarea type="text" class="form-control" [(ngModel)]="pessoaJuridica.descricaoPetShop"
                            required="required" pInputTextarea></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--Escolha dos serviços prestados-->
		<div class="form-check form-check-inline">
			<div class="container center_div">
				<div class="form-row align-items-center">
					<div class="form-group col-auto">
						<p id="opcoesPetShop">Selecione seus PetServices: </p>

						<label for="farmacia"></label>
						<p-checkbox [(ngModel)]="pessoaJuridica.farmacia" binary="true"></p-checkbox>
                        Farmácia
                        <br/>
                        <label for="loja"></label>
						<p-checkbox [(ngModel)]="pessoaJuridica.loja" binary="true"></p-checkbox>
                        Loja		
                        <br/>
						<label for="banho"></label>
						<p-checkbox [(ngModel)]="pessoaJuridica.banho" binary="true"></p-checkbox>
                        Banho
                        <br/>
						<label for="tosa"></label>
						<p-checkbox [(ngModel)]="pessoaJuridica.tosa" binary="true"></p-checkbox>
                        Tosa
                        <br/>
						<label for="vacinacao"></label>
						<p-checkbox [(ngModel)]="pessoaJuridica.vacinacao" binary="true"></p-checkbox>
                        Vacinação
                        <br/>
						<label for="consulta"></label>
						<p-checkbox [(ngModel)]="pessoaJuridica.consulta" binary="true"></p-checkbox>
                        Consulta
                        <br/>
						<label for="exames"></label>
						<p-checkbox [(ngModel)]="pessoaJuridica.exames" binary="true"></p-checkbox>
                        Exames		
                        <br/>	
                        <label for="petWalk"></label>
						<p-checkbox [(ngModel)]="pessoaJuridica.petWalk" binary="true"></p-checkbox>
                        PetWalk		
                        <br/>				
				</div>
			</div>
		</div>
	</div>

    <!--Fim da escolha dos serviços prestados-->

    <div class="button-cadastro">
        <button type="button" (click)="salvar()" label="Cadastrar" class="btn btn-outline-light" style="background-color: #f7b733">Cadastrar
                            </button>
        <button type="button" (click)="voltar()" label="Voltar" class="btn btn-outline-light" style="background-color: #f7b733">Voltar
                            </button>
    </div>

</div>