
<!--NAVBAR-->
<nav mat-toolbar class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home/home">MyPet</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/home/quem-somos">Quem Somos<span class="sr-only">(página atual)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Eventos</a>
        </li>
      </ul>

      <ng-container *ngIf="!(authenticated$ | async)">
        <form class="form-inline my-2 my-lg-0">
          <button mat-flat-button color="primary" data-toggle="modal" data-target="#modalCadastro" type="button">Cadastre-se</button>
          <button mat-flat-button color="primary" type="button" (click)="login()">Login</button>
        </form>
      </ng-container>

      <ng-container *ngIf="(authenticated$ | async) && (user$ | async)">
        Seja bem vindo, {{ (user$ | async)?.razaoSocial }}!
      <form class="form-inline my-2 my-lg-0">
        <button mat-flat-button color="primary" type="button" (click)="checkProfile()">Área Logada</button>
        <button mat-flat-button color="primary" type="button" (click)="logout()">Logout</button>
      </form>
    </ng-container>
      
    </div>
  </nav>

    <!-- Modal Cadastro -->
    <div class="modal fade" id="modalCadastro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Você é: </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body">
                    <button mat-flat-button color="primary" type="button" (click)="cadastroCliente()">Cliente</button>
                    <button mat-flat-button color="primary" type="button" (click)="cadastroFornecedor()">Fornecedor</button>
                </div>
            </div>
        </div>
    </div>
<div class="container-fluid">
<router-outlet></router-outlet>
</div>
<footer>aaaaaaaa</footer>