
<br/>
<br/>
<div class="p-grid">
    <div class="p-col">
        <p-panel header="Administração">
            <button pButton type="button" class="ui-button-raised ui-button-rounded" (click)="aprovarFornecedor()" label="Aprovar Fornecedores"></button>
            <br/>
            <br/>
            <button pButton type="button" class="ui-button-raised ui-button-rounded" (click)="aprovarFornecedor()" label="Desabilitar Cliente"></button>
            <br/>
            <br/>
            <button pButton type="button" class="ui-button-raised ui-button-rounded" (click)="aprovarFornecedor()" label="Desabilitar Fornecedor"></button>
            <br/>
            <br/>
        </p-panel>
    </div>
</div>