<div class="body">
    <div class="container">
        <h4 align="center">Cadastrar PetClient</h4>
        <div class="form-row align-items-center">
            <!-- <div class="form-group col-md-3">
                        <label for="username">Username:</label>
                        <input type="text" class="form-control" [(ngModel)]="pessoaFisica.username"
                        pInputText placeholder="Ex: maria_carmo" required>
                    </div>   -->

            <div class="form-group col-md-3">
                <label for="nomeCompleto">Nome Completo:</label>
                <input type="text" class="form-control" [(ngModel)]="pessoaFisica.nomeCompleto" pInputText placeholder="Ex: Maria do Carmo" required>
            </div>
            <div class="form-group col-md-2">
                <label for="cpf">CPF:</label>
                <input type="text" class="form-control" [(ngModel)]="pessoaFisica.cpf" required="required" pInputText placeholder=" CPF">
            </div>
            <div class="form-group col-md-2">
                <label for="dataNascimento">Data de Nascimento:</label>
                <input type="date" class="form-control" [(ngModel)]="pessoaFisica.dataNascimento" pInputText required>
            </div>
        </div>

        <div class="form-row align-items-center">
            <div class="form-group col-md-3">
                <label for="email">E-mail:</label>
                <input type="email" class="form-control" [(ngModel)]="pessoaFisica.email" required="required" pInputText placeholder=" E-mail">
            </div>

            <div class="form-group col-auto">
                <label for="senha">Senha:</label>
                <input type="password" class="form-control" [(ngModel)]="pessoaFisica.senha" required="required" pInputText placeholder=" Senha">
            </div>
            <div class="form-group col-auto">
                <label for="senha">Confirmar Senha:</label>
                <input type="password" class="form-control" required="required" pInputText placeholder=" Confirmar Senha">
            </div>
            <div class="form-group col-md-2">
                <label for="telefoneFixo">Telefone Fixo:</label>
                <input type="text" class="form-control" [(ngModel)]="pessoaFisica.telefoneFixo" pInputText placeholder=" Telefone Fixo">
            </div>

            <div class="form-group col-md-2">
                <label for="telefoneCelular">Celular:</label>
                <input type="text" class="form-control" [(ngModel)]="pessoaFisica.telefoneCelular" required="required" pInputText placeholder=" Telefone Celular">
            </div>
        </div>

        <div class="form-row align-items-center">
            <div class="form-group col-md-3">
                <label for="logradouro">Endereço:</label>
                <input type="text" class="form-control" [(ngModel)]="pessoaFisica.logradouro" required="required" pInputText placeholder=" Endereço">
            </div>
            <div class="form-group col-md-1">
                <label for="numero">Nº:</label>
                <input type="text" class="form-control" [(ngModel)]="pessoaFisica.numero" required="required" pInputText placeholder=" Número">
            </div>
            <div class="form-group col-md-2">
                <label for="complemento">Complemento:</label>
                <input type="text" class="form-control" [(ngModel)]="pessoaFisica.complemento" required="required" pInputText placeholder=" Complemento">
            </div>
            <div class="form-group col-md-2">
                <label for="bairro">Bairro:</label>
                <input type="text" class="form-control" [(ngModel)]="pessoaFisica.bairro" required="required" pInputText placeholder=" Bairro">
            </div>
        </div>

        <div class="form-row align-items-center">

            <div class="form-group colc">
                <label for="cidade">Cidade</label>
                <input type="text" class="form-control" [(ngModel)]="pessoaFisica.cidade" required="required" pInputText placeholder="Cidade">
            </div>
            <div class="form-group col-md-3">
                <label for="estado">Estado:</label>
                <input type="text" class="form-control" [(ngModel)]="pessoaFisica.estado" required="required" pInputText placeholder="Estado">
            </div>
            <div class="form-group col-md-2">
                <label for="cep">CEP:</label>
                <input type="text" class="form-control" [(ngModel)]="pessoaFisica.cep" required="required" pInputText placeholder=" CEP">
            </div>
        </div>
        <div class="form-row align-items-center">
            <div class="form-group col-auto">
                <p>Foto perfil</p>
                <br/>
                <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" maxFileSize="1000000" (onUpload)="onBasicUpload($event)"></p-fileUpload>
                <br/>
                <br/>
            </div>

        </div>
        <div class="button-cadastro">
            <div>
                <button type="button" (click)="salvar()" label="Cadastrar" class="btn btn-outline-light" style="background-color: #f7b733">Cadastrar
                        </button>
            </div>
            <div>
                <button type="button" (click)="voltar()" label="Voltar" class="btn btn-outline-light" style="background-color: #f7b733">Voltar
                        </button>
            </div>
        </div>
    </div>
</div>