<div class="col-md-6 text-center mt-3 mb-3">
    <div class="input-group h2">
        <input name="data[search]" class="form-control" id="search" type="text" placeholder="Pesquisar" autofocus
        (keyup) = "filter = $event.target.value">
        <span class="input-group-btn">
        </span>
    </div>
</div>
<app-tabela-busca-pet-clients [petclients] = "petclients | filtroPeloNomePetClient: filter" ></app-tabela-busca-pet-clients>

<div>
    <button type="button" (click)="voltar()" label="Cadastrar" class="btn btn-outline-light" data-toggle="modal" data-target="#modalLogin" style="background-color: #f7b733">Voltar</button>
</div>
