  <div class="card">
      <h5 class="card-header">{{pessoa?.razaoSocial}}</h5>
      <div class="card-body">
          <label class="card-text">CNPJ: {{pessoa?.cnpj}} </label><br/>
          <label class="card-text">E-mail: {{pessoa?.email}} </label><br/>
          <label class="card-text">Endereço: {{pessoa?.logradouro}} </label><br/>
          <label class="card-text">Número: {{pessoa?.numero}} </label><br/>
          <label class="card-text">Complemento: {{pessoa?.complemento}} </label><br/>
          <label class="card-text">Bairro: {{pessoa?.bairro}}</label><br/>
          <label class="card-text">Cidade: {{pessoa?.cidade}} </label><br/>
          <label class="card-text">Estado: {{pessoa?.estado}} </label><br/>
          <label class="card-text">Bairro: {{pessoa?.bairro}} </label><br/>
          <label class="card-text">Descrição: {{pessoa?.descricaoPetShop}}</label><br/>
          <label class="card-text">---------------------||---------------------</label><br/>
          <label class="card-text">PetServices oferecidos</label><br/>
          <label class="card-text">Banho: {{pessoa?.banho}}</label><br/>
          <label class="card-text">Tosa: {{pessoa?.tosa}}</label><br/>
          <label class="card-text">Loja: {{pessoa?.loja}}</label><br/>
          <label class="card-text">Farmácia: {{pessoa?.farmacia}}</label><br/>
          <label class="card-text">Vacinação: {{pessoa?.vacinacao}}</label><br/>
          <label class="card-text">Consulta: {{pessoa?.consulta}}</label><br/>
          <label class="card-text">Exames: {{pessoa?.exames}}</label><br/>
          <label class="card-text">PetWalk: false</label><br/>          

          <button type="button" (click)="voltar()" label="Voltar" class="btn btn-outline-light"
          style="background-color: #f7b733">Voltar
          </button>
          <button type="button" (click)="agendar()" label="Agendamento" class="btn btn-outline-light"
                      style="background-color: #f7b733">Agendar
                      </button>
      
      </div>
  </div>