
<div class="pet-image-home">
    <div class="pet-text-home">
      <h1 style="font-size:50px">MyPet</h1>
      <h3>Seu Pet com os melhores!</h3>
      <br/>
    </div>
      <div class="form-group col-md-3">
          <input type="text" class="form-control"  required="required" placeholder="Estado" id="estado">
      </div>
      <div class="form-group col-md-3">
        <input type="text" class="form-control"  required="required" placeholder="Cidade" id="cidade">
      </div>
      <div class="form-group col-md-3">
        <input type="text" class="form-control"  required="required" placeholder="Bairro" id="bairro">
      </div>
    <div>
      <button type="button" (click)="pesquisar(bairro, cidade, estado)" label="Pesquisar" class="btn btn-outline-light" style="background-color: blue">Pesquisar</button>
    </div>
  </div>

  <h3 class="first">Pessoa Jurídica</h3>
  <p-table [value]="pj">
      <ng-template pTemplate="header">
          <tr>
              <th>Razão Social</th>
              <th>E-mail</th>
              <th>Bairro</th>
              <th>Cidade</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-pessoa>
          <tr>
              <td>{{pessoa.razaoSocial}}</td>
              <td>{{pessoa.email}}</td>
              <td>{{pessoa.bairro}}</td>
              <td>{{pessoa.cidade}}</td>
          </tr>
      </ng-template>
  </p-table>