<div class="pet-image-home">
    <div class="pet-text-home">
      <h1 style="font-size:50px">MyPet</h1>
      <h3>Seu Pet com os melhores!</h3>
      <br/>
    </div>
      <div class="form-group col-md-3">
      <form>
          <input name="data[search]" class="form-control" id="search" type="search"
          placeholder="Pesquisar" autofocus
          (keyup) = "filter = $event.target.value">
      </form>
      </div>
  </div>

  <h3 align="center" class="first">Pesquise aqui os melhores fornecedores para seu pet!</h3>


<app-pesquisar-fornecedor [pessoas]="pessoas | filtroPelaCidade: filter  " ></app-pesquisar-fornecedor>

{{filter | uppercase}}
