<!-- Slide -->

<div id="petWalker" class="tabcontent">
    <h1>Pet Walker</h1>
    <p>Deixe seu Pet conosco para levarmos para passear!</p>
  </div>
  
  <div id="petVet" class="tabcontent">
    <h1>Pet Vet</h1>
    <p>Cuidamos da saúde do seu Pet!</p> 
  </div>
  
  <div id="petShop" class="tabcontent">
    <h1>Pet Shop</h1>
    <p>A beleza do seu Pet fica nas nossas mãos!</p>
  </div>
  
  <div id="petHome" class="tabcontent">
    <h1>Pet Home</h1>
    <p>Aqui seu Pet tem a estadia mais aconchegante e segura!</p>
  </div>
  
  <button class="tablink" onclick="openPetProvider('petWalker', this, 'red')" id="defaultOpen">Pet Walker</button>
  <button class="tablink" onclick="openPetProvider('petVet', this, 'green')">Pet Vet</button>
  <button class="tablink" onclick="openPetProvider('petShop', this, 'blue')">Pet Shop</button>
  <button class="tablink" onclick="openPetProvider('petHome', this, 'orange')">Pet Home</button>
  
  <div id="formulario">
      <form>
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Cidade">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Bairro">
          </div>
          <div class="col">
            <div class="form-group">
          <select class="form-control" id="exampleFormControlSelect1">
            <option> - </option>
            <option>Pet Walker</option>
            <option>Pet Vet</option>
            <option>Pet Shop</option>
            <option>Pet Home</option>
          </select>
        </div>
        <div class="col">
            <button class="btn btn-primary" type="submit">Pesquisar</button>
          </div>
        </div>
      </form>
      </div> 

  <script>
  function openPetProvider(cityName,elmnt,color) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].style.backgroundColor = "";
    }
    document.getElementById(cityName).style.display = "block";
    elmnt.style.backgroundColor = color;
  
  }
  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();
  </script> 
         