.modal-body{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 30px;
}

.modal{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-group{
    margin: 30px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
